<ul>
{% for expense in expenses %}
    <li>{{ expense.date }} - {{ expense.category }} - {{ expense.amount }} zł
        <a href ="{% url 'expense-edit' expense.pk %}">Edytuj</a>
        <form method="post" action="{% url 'expense-delete' expense.pk %}" style="display:inline">
        {% csrf_token %}
        <button type="submit">Usuń</button>
</form>
    </li>
{% endfor %}
    <p>Suma w tym miesiącu: {{ monthly_total|floatformat:2 }} zł</p>

<h3>Podsumowanie wg kategorii</h3>
<ul>
{% for row in by_category %}
    <li>{{ row.category }}: {{ row.total|floatformat:2 }} zł</li>
{% endfor %}
</ul>
</ul>
<a href="{% url 'expense-add' %}">Dodaj wydatek</a>

<form method = "post" action = "{% url 'logout' %}">
    {% csrf_token %}
    <button type ="submit">Wyloguj</button>
</form>

